<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'dashboard')}">

<body>
  <div class="container">
     DASHBOARD
    <div id="chart_div"></div>
  </div>
 
 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script th:src="@{/js/dashboard.js}"></script>  

</body>

</html>