<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'producto')}">

<head>
  <title>Producto</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <h2>Productos</h2><br/>
        <a href="/producto/create">Create</a>
        <table id="example" class="table table-bordered table-responsive" style="width: 100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="producto : ${productos}">
              <td>
                <a th:href="@{'/producto/edit/__${producto.id}__'}"
  			           class="btn btn-info" role="button">Edit</a>
              </td>
              <td th:text="${producto.descripcion}"></td>
              <td th:text="${producto.precio}"></td>
              <td th:text="${producto.imageFileName}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</body>

</html>